{% extends 'base.html.twig' %}
{% form_theme formCreation 'bootstrap_4_layout.html.twig' %}
{% block body%}
    <div class="m-3 p-2">
        <h1>Création d'un article</h1>
        <hr>
        {{ form_start(formCreation) }}
        {{ form_row(formCreation.titre , {'attr':{'placeholder':"Titre de l'article"}}) }}
        {{ form_row(formCreation.soustitre , {'attr':{'placeholder':"Sous titre de l'article"}}) }}
        {{ form_row(formCreation.contenu , {'attr':{'placeholder':"Contenu de l'article"}}) }}
        {{ form_row(formCreation.image , {'attr':{'placeholder':"Image de l'article"}}) }}
        {% if etatButton==0%}
            <button type="submit" class="btn btn-success mt-3">Ajouter l'article</button>
        {% else %}
            <button type="submit" class="btn btn-primary mt-3">Modifier l'article</button>
        {% endif %}
        {{ form_end(formCreation) }}
    </div>
{% endblock %}