{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <section class="articles">
            {% for article in articles %}
                <article class="container text-center border border-2 rounded my-3 py-2">
                    <h2 class="fw-bolder font-monospace text-capitalize">{{article.titre}}</h2>
                    <div class="content">
                        <img class="border border-2 rounded  my-3" src="{{ article.image }}" alt="image de l'article">
                        <p class="text-capitalize">{{ article.soustitre }}</p>
                        <div class="content text-end mx-2 grid">
                            <a href="{{ path('app_article_details',{'id':article.id })}}" class="col btn btn-dark mx-2 text-start">
                                <i class="fa-regular fa-comment"></i>
                            </a>
                            <a href="{{ path('app_article_details',{'id':article.id })}}" class="col btn btn-success mx-2">
                                <i class="fas fa-plus"></i>
                            </a>
                            {% if app.session.get('idUser') == article.idUser.id %}
                                <a href="{{ path('app_article_edit',{'id':article.id })}}" class="col btn btn-primary mx-2">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="{{ path('app_redirect',{'id':article.id })}}" class="col btn btn-danger mx-2">
                                    <i class="fas  fa-trash"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}
